<template>
  <div>
    <div class="flex flex-row content-center justify-center mx-4 mt-4 h-10 rounded-lg">
      <div
        class="px-2 pt-1 border-l-2 border-t-2 border-b-2 border-light-blue-500 border-solid rounded-l-lg cursor-pointer"
        :class="selectedDefault === 1 ? 'bg-green-300 text-white' : 'text-green-600'"
        @click="switchImage(1)"
      >
        <span>Arbeitnehmer</span>
      </div>
      <div
        class="px-2 pt-1 border-2 border-light-blue-500 border-solid cursor-pointer"
        :class="selectedDefault === 2 ? 'bg-green-300 text-white' : 'text-green-600'"
        @click="switchImage(2)"
      >
        <span>Arbeitgeber</span>
      </div>
      <div
        class="px-2 pt-1 border-r-2 border-t-2 border-b-2 border-light-blue-500 border-solid rounded-r-lg cursor-pointer"
        :class="selectedDefault === 3 ? 'bg-green-300 text-white' : 'text-green-600'"
        @click="switchImage(3)"
      >
        <span>Temporärbüro</span>
      </div>
    </div>
    <div v-for="(url, index) in imageSource" :key="index">
      <svg v-if="index === 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#e8f9fc" fill-opacity="1" d="M0,64L48,58.7C96,53,192,43,288,69.3C384,96,480,160,576,160C672,160,768,96,864,64C960,32,1056,32,1152,37.3C1248,43,1344,53,1392,58.7L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z" />
      </svg>
      <img :src="url" class="w-full">
      <svg v-if="index === 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#e8f9fc" fill-opacity="1" d="M0,160L80,181.3C160,203,320,245,480,240C640,235,800,181,960,149.3C1120,117,1280,107,1360,101.3L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z" />
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      selectedDefault: 1,
      arrImageName: {
        1: 'arbeitnehmer',
        2: 'arbeitgeber',
        3: 'temporarburo'
      },
      imageName: 'arbeitnehmer'
    }
  },
  computed: {
    imageSource () {
      return [
        require(`../assets/${this.imageName}_1.png`),
        require(`../assets/${this.imageName}_2.png`),
        require(`../assets/${this.imageName}_3.png`)
      ]
    }
  },
  methods: {
    switchImage (val) {
      this.selectedDefault = val
      this.imageName = this.arrImageName[val]
    }
  }
}
</script>
