<template>
  <div>
    <Header />
    <div class="overflow-auto">
      <img :src="require('../assets/handshake.png')" class="w-full">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="-m-1">
        <path fill="#e8f9fc" fill-opacity="1" d="M0,320L60,314.7C120,309,240,299,360,272C480,245,600,203,720,170.7C840,139,960,117,1080,117.3C1200,117,1320,139,1380,149.3L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z" />
      </svg>
      <ImageStep />
    </div>
    <Footer />
  </div>
</template>

<script>
export default {}
</script>
